target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Ingoring CDK8S Imports - there is some discussion over whether or not it is the best approach to ignore the imports directory
# For now, the imports directory is ignored to avoid unnecessary bloat to the repository
# In the future, it may be better to include only specific imports (i.e. add only specific, in-use, imports to git), ensuring
# additional stability while limiting the size of the repository
imports/